<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.upipro.upi_pro_sdk">
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="upi" android:host="pay" />
        </intent>
    </queries>
</manifest>
